.navbar-wrapper {
  width: 300px;
  height: 600px;
  background: rgb(22, 18, 43);
}

.navbar-wrapper h2 {
  color: white;
  font-size: 1 .5rem;
  text-align: center;
  padding-top: 20px;
}

.nav__items {
  padding-top: 30px;
  line-height: 45px;
}

.nav__items ul li {
  list-style-type: none;
}

.nav__items ul li a {
  text-decoration: none;
  font-size: 24px;
  font-family: "Arial";
  color: white;
}

.nav__items ul li:hover {
  background: rgb(3, 18, 236);
}
